.cc,
.bcc {
  cursor: pointer;
}
.dont-have-account {
  padding-left: 120px;
  padding-right: 10px;
}

.error-msg {
  color: #bf1650;
}

.error-msg::before {
  display: inline;
  content: "⚠ ";
}

.flex-fill .custom-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  padding: 1rem 3rem 1.5rem !important;
}
.custom-design {
  font-size: 22px;
  cursor: pointer;
}
.certificate-action i {
  padding-top: 3px;
}
